In [ ]:
# Air Quality Index

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [3]:
# importing dataset
df = pd.read_csv(r"E:\open source dataset\station_hour.csv")
df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24 17:00:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,NaN,NaN
1,AP001,2017-11-24 18:00:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,NaN,NaN
2,AP001,2017-11-24 19:00:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,NaN,NaN
3,AP001,2017-11-24 20:00:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,NaN,NaN
4,AP001,2017-11-24 21:00:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Datetime    object
 2   PM2.5       float64
 3   PM10        float64
 4   NO          float64
 5   NO2         float64
 6   NOx         float64
 7   NH3         float64
 8   CO          float64
 9   SO2         float64
 10  O3          float64
 11  Benzene     float64
 12  Toluene     float64
 13  Xylene      float64
 14  AQI         float64
 15  AQI_Bucket  object
dtypes: float64(13), object(3)
memory usage: 316.1+ MB

In [14]:
# converting dtype of datetime colume to datetime format
df["Datetime"] = pd.to_datetime(df["Datetime"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Datetime    datetime64[ns]
 2   PM2.5       float64
 3   PM10        float64
 4   NO          float64
 5   NO2         float64
 6   NOx         float64
 7   NH3         float64
 8   CO          float64
 9   SO2         float64
 10  O3          float64
 11  Benzene     float64
 12  Toluene     float64
 13  Xylene      float64
 14  AQI         float64
 15  AQI_Bucket  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 316.1+ MB

In [21]:
# Handling Missing Values

In [20]:
df.columns

Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [22]:
cols = ['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene']

for i in df[cols]:
    df[i].ffill(inplace=True)

In [24]:
df.sample(10)

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
364007,DL008,2018-07-02 00:00:00,25.75,76.75,6.78,26.03,19.27,2.53,0.39,4.78,8.30,0.30,0.00,0.00,71.0,Satisfactory
2139474,TG005,2017-12-07 05:00:00,83.50,45.00,0.90,31.70,17.57,0.50,0.44,30.12,19.22,1.78,29.10,0.05,150.0,Moderate
1689010,KL008,2019-07-01 12:00:00,8.00,40.00,10.70,2.33,100.75,6.75,0.56,0.60,7.42,0.00,0.00,0.00,45.0,Good
2230316,TN001,2017-12-20 22:00:00,43.58,75.00,17.68,41.65,34.60,9.48,1.56,13.81,7.19,2.13,1.88,0.40,88.0,Satisfactory
2467771,UP014,2020-02-13 23:00:00,164.75,27.70,11.80,50.49,36.30,0.74,1.10,11.79,38.62,0.00,0.00,0.40,325.0,Very Poor
50477,AP005,2019-08-29 09:00:00,75.00,206.00,4.40,17.65,12.90,2.75,1.14,10.90,19.30,12.40,12.95,5.15,NaN,NaN
564511,DL014,2018-06-25 03:00:00,150.00,300.00,135.05,94.95,160.35,262.22,1.99,28.59,11.88,7.29,96.36,0.00,203.0,Poor
1101696,DL033,2018-11-30 03:00:00,281.08,143.00,161.05,90.63,177.04,100.53,1.49,1.21,8.99,13.05,43.01,0.00,345.0,Very Poor
564558,DL014,2018-06-27 02:00:00,84.25,217.25,86.57,49.40,96.68,156.33,1.79,9.29,13.18,7.29,96.36,0.00,220.0,Poor
2340755,TN004,2018-07-16 13:00:00,38.09,4.85,12.97,22.94,19.95,45.05,0.70,3.91,21.38,0.00,9.59,0.40,60.0,Satisfactory