In [23]:
# Air Quality Index

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [25]:
# importing dataset
df = pd.read_csv(r"E:\open source dataset\station_hour.csv")
df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24 17:00:00,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,NaN,NaN
1,AP001,2017-11-24 18:00:00,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,NaN,NaN
2,AP001,2017-11-24 19:00:00,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,NaN,NaN
3,AP001,2017-11-24 20:00:00,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,NaN,NaN
4,AP001,2017-11-24 21:00:00,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,NaN,NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Datetime    object
 2   PM2.5       float64
 3   PM10        float64
 4   NO          float64
 5   NO2         float64
 6   NOx         float64
 7   NH3         float64
 8   CO          float64
 9   SO2         float64
 10  O3          float64
 11  Benzene     float64
 12  Toluene     float64
 13  Xylene      float64
 14  AQI         float64
 15  AQI_Bucket  object
dtypes: float64(13), object(3)
memory usage: 316.1+ MB

In [27]:
# converting dtype of datetime colume to datetime format
df["Datetime"] = pd.to_datetime(df["Datetime"])

In [28]:
# Handling Missing Values

In [29]:
df.columns

Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [30]:
cols = ['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene']

for i in df[cols]:
    df[i].ffill(inplace=True)

In [31]:
df.sample(10)

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
614849,DL016,2019-05-27 05:00:00,48.50,159.50,47.95,109.68,97.17,20.70,1.88,19.23,0.60,4.10,45.38,0.00,130.0,Moderate
2502337,UP016,2019-03-29 12:00:00,163.90,27.70,9.11,8.43,11.73,0.10,1.12,12.39,31.38,1.40,2.10,0.40,344.0,Very Poor
1499606,KA005,2020-05-13 23:00:00,8.00,125.41,3.05,9.86,12.92,7.53,0.46,8.58,14.25,0.35,0.10,6.99,64.0,Satisfactory
1144946,DL034,2020-03-10 18:00:00,71.75,253.50,1.70,18.60,11.30,12.87,0.27,4.05,179.30,2.47,27.24,0.00,228.0,Poor
1329493,HR014,2018-10-14 01:00:00,124.74,223.09,7.44,32.46,22.00,2.91,0.57,5.27,26.49,1.62,6.81,6.99,320.0,Very Poor
2222307,TN001,2017-01-21 05:00:00,40.66,75.00,2.87,6.17,5.66,9.48,1.06,1.69,67.65,0.00,0.00,0.40,104.0,Moderate
2344807,TN004,2019-01-01 09:00:00,56.77,4.85,3.56,14.09,17.64,45.05,0.34,6.55,41.73,0.00,0.00,0.40,114.0,Moderate
292178,DL007,2015-10-21 03:00:00,88.71,133.41,9.00,7.75,16.75,19.95,1.42,13.55,14.71,2.04,3.08,2.08,303.0,Very Poor
135357,CH001,2019-11-03 09:00:00,57.79,93.77,0.25,10.20,0.53,0.83,0.67,9.57,4.42,4.88,5.90,1.15,262.0,Poor
952238,DL028,2019-10-28 14:00:00,224.50,224.50,0.62,28.75,15.80,31.90,1.23,25.45,359.00,14.40,27.90,0.00,407.0,Severe

In [32]:
df.isna().sum()

StationId          0
Datetime           0
PM2.5              0
PM10               0
NO                 0
NO2                0
NOx                0
NH3                0
CO                 0
SO2                0
O3                 0
Benzene            0
Toluene            0
Xylene             0
AQI           570190
AQI_Bucket    570190
dtype: int64

In [33]:
#  compute AQI manually based on PM2.5 or PM10 (as AQI is often calculated using these).
def calculate_pm25_aqi(pm25):
    if pm25 <= 30:
        return (50 / 30) * pm25
    elif pm25 <= 60:
        return 50 + ((100 - 50) / (60 - 30)) * (pm25 - 30)
    elif pm25 <= 90:
        return 100 + ((200 - 100) / (90 - 60)) * (pm25 - 60)
    elif pm25 <= 120:
        return 200 + ((300 - 200) / (120 - 90)) * (pm25 - 90)
    elif pm25 <= 250:
        return 300 + ((400 - 300) / (250 - 120)) * (pm25 - 120)
    else:
        return 400 + ((500 - 400) / (500 - 250)) * (pm25 - 250)

In [34]:
df["AQI"] = df["AQI"].fillna(df["PM2.5"].apply(calculate_pm25_aqi))

In [35]:
df["AQI"].min() , df["AQI"].max()

(np.float64(0.016666666666666666), np.float64(3133.0))

In [36]:
def custom_aqi_bucket(aqi):
    if aqi <= 50:
        return "Good"
    elif aqi <= 300:
        return "Moderate"
    elif aqi <= 600:
        return "Poor"
    elif aqi <= 1000:
        return "Very Poor"
    elif aqi <= 2000:
        return "Severe"
    else:
        return "Critical"

In [37]:
df["AQI_Bucket"] = df["AQI"].apply(custom_aqi_bucket)

In [38]:
df.sample(5)

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1887083,OD002,2020-01-13 17:00:00,118.70,173.75,2.15,27.70,4.00,1.53,1.04,2.87,35.69,0.00,0.00,0.20,331.000000,Poor
979888,DL030,2018-03-02 23:00:00,52.41,117.53,6.16,9.80,6.44,30.38,2.56,11.60,99.21,0.00,0.00,0.00,149.000000,Moderate
76303,BR007,2015-06-27 07:00:00,43.12,43.41,10.13,10.20,20.33,4.33,0.62,3.30,10.44,0.19,1.70,0.38,71.866667,Moderate
1806568,MH012,2020-01-05 04:00:00,147.92,212.88,70.58,17.05,87.63,15.44,1.50,6.75,19.77,71.87,0.76,0.20,216.000000,Moderate
17274,AP001,2019-11-14 11:00:00,52.00,93.00,2.10,10.10,7.05,11.07,0.49,1.05,78.30,0.40,1.27,0.10,84.000000,Moderate

In [39]:
# create new date, month and year column
df["Year"] = pd.to_datetime(df["Datetime"]).dt.year
df["Month"] = pd.to_datetime(df["Datetime"]).dt.month
df["Day"] = pd.to_datetime(df["Datetime"]).dt.day

# creating time column
df["Time"] = pd.to_datetime(df["Datetime"]).dt.time

# removing timestamp from datetime column
df["Datetime"] = pd.to_datetime(df["Datetime"]).dt.date

In [40]:
df.head()

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month,Day,Time
0,AP001,2017-11-24,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,101.666667,Moderate,2017,11,24,17:00:00
1,AP001,2017-11-24,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,118.333333,Moderate,2017,11,24,18:00:00
2,AP001,2017-11-24,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,166.666667,Moderate,2017,11,24,19:00:00
3,AP001,2017-11-24,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,171.666667,Moderate,2017,11,24,20:00:00
4,AP001,2017-11-24,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,150.833333,Moderate,2017,11,24,21:00:00

In [41]:
df.columns

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket',
       'Year', 'Month', 'Day', 'Time'],
      dtype='object')

In [43]:
df = df[['StationId', 'Datetime', 'Time','Year', 'Month', 'Day', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket']]
df.head()

,StationId,Datetime,Time,Year,Month,Day,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,17:00:00,2017,11,24,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,101.666667,Moderate
1,AP001,2017-11-24,18:00:00,2017,11,24,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,118.333333,Moderate
2,AP001,2017-11-24,19:00:00,2017,11,24,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,166.666667,Moderate
3,AP001,2017-11-24,20:00:00,2017,11,24,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,171.666667,Moderate
4,AP001,2017-11-24,21:00:00,2017,11,24,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,150.833333,Moderate

In [45]:
df.columns

Index(['StationId', 'Datetime', 'Time', 'Year', 'Month', 'Day', 'PM2.5',
       'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3', 'Benzene',
       'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [46]:
df.columns = ['StationId', 'Date', 'Time', 'Year', 'Month', 'Day', 'PM2.5',
       'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3', 'Benzene',
       'Toluene', 'Xylene', 'AQI', 'AQI_Bucket']
df.head()

,StationId,Date,Time,Year,Month,Day,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,17:00:00,2017,11,24,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,101.666667,Moderate
1,AP001,2017-11-24,18:00:00,2017,11,24,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,118.333333,Moderate
2,AP001,2017-11-24,19:00:00,2017,11,24,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,166.666667,Moderate
3,AP001,2017-11-24,20:00:00,2017,11,24,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,171.666667,Moderate
4,AP001,2017-11-24,21:00:00,2017,11,24,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,150.833333,Moderate

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 20 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Date        object
 2   Time        object
 3   Year        int32
 4   Month       int32
 5   Day         int32
 6   PM2.5       float64
 7   PM10        float64
 8   NO          float64
 9   NO2         float64
 10  NOx         float64
 11  NH3         float64
 12  CO          float64
 13  SO2         float64
 14  O3          float64
 15  Benzene     float64
 16  Toluene     float64
 17  Xylene      float64
 18  AQI         float64
 19  AQI_Bucket  object
dtypes: float64(13), int32(3), object(4)
memory usage: 365.4+ MB

In [52]:
# converting dtypes
df["Date"] = pd.to_datetime(df["Date"])

In [54]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589083 entries, 0 to 2589082
Data columns (total 20 columns):
 #   Column      Dtype
---  ------      -----
 0   StationId   object
 1   Date        datetime64[ns]
 2   Time        datetime64[ns]
 3   Year        int32
 4   Month       int32
 5   Day         int32
 6   PM2.5       float64
 7   PM10        float64
 8   NO          float64
 9   NO2         float64
 10  NOx         float64
 11  NH3         float64
 12  CO          float64
 13  SO2         float64
 14  O3          float64
 15  Benzene     float64
 16  Toluene     float64
 17  Xylene      float64
 18  AQI         float64
 19  AQI_Bucket  object
dtypes: datetime64[ns](2), float64(13), int32(3), object(2)
memory usage: 365.4+ MB

In [56]:
df.head()

,StationId,Date,Time,Year,Month,Day,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,1900-01-01 17:00:00,2017,11,24,60.50,98.00,2.35,30.80,18.25,8.50,0.1,11.85,126.40,0.1,6.10,0.10,101.666667,Moderate
1,AP001,2017-11-24,1900-01-01 18:00:00,2017,11,24,65.50,111.25,2.70,24.20,15.07,9.77,0.1,13.17,117.12,0.1,6.25,0.15,118.333333,Moderate
2,AP001,2017-11-24,1900-01-01 19:00:00,2017,11,24,80.00,132.00,2.10,25.18,15.15,12.02,0.1,12.08,98.98,0.2,5.98,0.18,166.666667,Moderate
3,AP001,2017-11-24,1900-01-01 20:00:00,2017,11,24,81.50,133.25,1.95,16.25,10.23,11.58,0.1,10.47,112.20,0.2,6.72,0.10,171.666667,Moderate
4,AP001,2017-11-24,1900-01-01 21:00:00,2017,11,24,75.25,116.00,1.43,17.48,10.43,12.03,0.1,9.12,106.35,0.2,5.75,0.08,150.833333,Moderate

# Feature Engineering

In [57]:
df["Season"] = df["Month"] % 12 // 3 + 1 # 1: Winter, 2: Spring, 3: Summer, 4: Fall
df['aromatic_sum'] = df['Benzene'] + df['Toluene'] + df['Xylene']
df['pm_ratio'] = df['PM2.5'] / (df['PM10'] + 1e-5)  # Avoid division by zero
df['no2_no_ratio'] = df['NO2'] / (df['NO'] + 1e-5)
df['nox_total_ratio'] = df['NOx'] / (df['NO'] + df['NO2'] + 1e-5)
df['co_pm_ratio'] = df['CO'] / (df['PM2.5'] + 1e-5)

In [58]:
df.head()

,StationId,Date,Time,Year,Month,Day,PM2.5,PM10,NO,NO2,...,Toluene,Xylene,AQI,AQI_Bucket,Season,aromatic_sum,pm_ratio,no2_no_ratio,nox_total_ratio,co_pm_ratio
0,AP001,2017-11-24,1900-01-01 17:00:00,2017,11,24,60.50,98.00,2.35,30.80,...,6.10,0.10,101.666667,Moderate,4,6.30,0.617347,13.106327,0.550528,0.001653
1,AP001,2017-11-24,1900-01-01 18:00:00,2017,11,24,65.50,111.25,2.70,24.20,...,6.25,0.15,118.333333,Moderate,4,6.50,0.588764,8.962930,0.560223,0.001527
2,AP001,2017-11-24,1900-01-01 19:00:00,2017,11,24,80.00,132.00,2.10,25.18,...,5.98,0.18,166.666667,Moderate,4,6.36,0.606061,11.990419,0.555352,0.001250
3,AP001,2017-11-24,1900-01-01 20:00:00,2017,11,24,81.50,133.25,1.95,16.25,...,6.72,0.10,171.666667,Moderate,4,7.02,0.611632,8.333291,0.562088,0.001227
4,AP001,2017-11-24,1900-01-01 21:00:00,2017,11,24,75.25,116.00,1.43,17.48,...,5.75,0.08,150.833333,Moderate,4,6.03,0.648707,12.223691,0.551560,0.001329